@use 'mixins'


 

*
    margin: 0
    padding: 0
    box-sizing: border-box


.game-board
    width: 100%
    border-bottom: solid 15px #747272e1
    height: 70vh
    margin: 0 auto
    position: relative
    overflow: hidden
    background: linear-gradient(#290202, #8f7676)

    &-parede
        position: absolute
        bottom: 0
        width: 80px
        animation: parede-animation 2.0s infinite linear
    
    &-itachi 
        position: absolute
        bottom: -20px
        width: 110px
    
    &-nuvens
        width: 550px
        position: absolute
        animation: nuvens-animation 10s infinite linear
    
    &-olhos
        position: absolute
        left: 37vw
        width: 350px
        margin: 100px auto
        display: none
    
    &-gameover
        width: 250px
        position: absolute
        left: 40vw
        bottom: 30vh
        border-radius: 10px
        height: 50px
        display: none
        background-color: #a00d0d
        font-family: 'Sono'
        font-size: 1.2rem
    
    &-startgame
        width: 250px
        position: absolute
        left: 40vw
        bottom: 30vh
        border-radius: 10px
        height: 50px
        display: block
        background-color: #a00d0d
        font-family: 'Sono'
        font-size: 1.2rem

.divForm
    @include mixins.center
    flex-direction: column
    position: absolute
    top: 40vh
    left: 50vw
    transform: translate(-50%,-50%)
    z-index: 1
    width: 20%
    height: 40%
    background: linear-gradient(#791000,#791000,#020202)
    border-radius: 7px

    &-form
        @include mixins.center
        width: 100%
        height: 100%
        flex-direction: column

    &-label 
        color: #fff
        font-size: 1.2rem
        font-family: 'sono'
        margin-bottom: 10px

    &-input 
        width: 80%
        height: 25px
        border-radius: 10px
        margin-bottom: 10px
        padding: 4px

    &-btn
        margin-top: 10px
        width: 60%
        height: 25px
        background-color: red
        color: #fff
        font-weight: bold
        border-radius: 10px
        margin-bottom: 10px
        cursor: pointer
    
    &-corvo
        width: 100%
        height: 20vh
        margin-bottom: 10px
       

.desfoque
    background-color: #000000e5
    width: 100vw
    height: 100vh
    position: absolute
    z-index: 3
        
// funções do formulário

.BtnDireita
    transform: translatex(100px)
    width: 35%

.BtnEsquerda
    transform: translatex(-100px)
    width: 35%

.inicial 
    border: 2px solid
    outline: none

.error 
    border: 2px solid #f00
    outline: none

.certo
    border: 2px solid rgb(94, 255, 0)
    outline: none



.pulo
    animation: pulo 500ms ease-out
  
.pontuacao
    @include mixins.center
    flex-direction: column
    width: 20%
    height: 60%
    background-color: #850808
    border-radius: 5px
    margin: auto 0 auto auto
        
    &-titulo,&-timer
        font-size: 2.0rem
        font-family: 'Sono'

.info-board
    display: flex
    justify-content: center
    width: 100%
    background-color: #000
    height: 30vh

.record
    @include mixins.center
    flex-direction: column
    width: 30%
    height: 85%
    margin: 15px 15px 0 0
    background-color: #8508088e
    border-radius: 5px 
    margin-left: auto

    &-titulo 
        font-size: 2.0rem
        font-family: 'Sono'
        
    


@keyframes parede-animation 
    from
      right: -80px
    to
      right: 100% 

@keyframes pulo
    0%
        bottom: -20px
    40%
        bottom: 190px
    50%
        bottom: 190px
    60%
        bottom: 190px
    100%
        bottom: -20px

@keyframes nuvens-animation
    from
      right: -550px  
    to
      right: 100% 


